.root {
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
}